.container {
    width: 400px;
    // background-color: #9bcff8
    border-right: 1px solid lightgrey;
}

.logo {
    color: #008bf8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}